$void: polygon(50% 50%, 50% 50%, 50% 50% );
$sergiy: polygon(14.28% 38.93%, 16.85% 41.65%, 16.99% 38.02% ),
polygon(16.26% 36.75%, 14.28% 38.93%, 16.99% 38.02% ),
polygon(16% 35.08%, 14.28% 38.93%, 16.26% 36.75% ),
polygon(16.99% 38.02%, 16.85% 41.65%, 18.88% 39.45% ),
polygon(13.54% 35.13%, 14.28% 38.93%, 16% 35.08% ),
polygon(18.88% 39.45%, 18.31% 42.57%, 20.36% 40.38% ),
polygon(20.76% 44.83%, 23.7% 47.3%, 22.95% 43.18% ),
polygon(20.36% 40.38%, 20.76% 44.83%, 22.95% 43.18% ),
polygon(16.85% 41.65%, 18.31% 42.57%, 18.88% 39.45% ),
polygon(14.98% 30.65%, 13.54% 35.13%, 16% 35.08% ),
polygon(18.31% 42.57%, 20.76% 44.83%, 20.36% 40.38% ),
polygon(18.05% 50.83%, 17.7% 53.78%, 20.37% 49.78% ),
polygon(16.21% 50.38%, 17.7% 53.78%, 18.05% 50.83% ),
polygon(22.06% 51.9%, 23.7% 47.3%, 21.25% 47.1% ),
polygon(20.37% 49.78%, 22.06% 51.9%, 21.25% 47.1% ),
polygon(17.7% 53.78%, 22.06% 51.9%, 20.37% 49.78% ),
polygon(16.73% 32.63%, 14.98% 30.65%, 16% 35.08% ),
polygon(14.49% 49.25%, 13.59% 52.27%, 16.21% 50.38% ),
polygon(13.59% 52.27%, 17.7% 53.78%, 16.21% 50.38% ),
polygon(18.7% 31.68%, 18.64% 28.88%, 16.73% 32.63% ),
polygon(18.64% 28.88%, 14.98% 30.65%, 16.73% 32.63% ),
polygon(20.58% 32.12%, 18.64% 28.88%, 18.7% 31.68% ),
polygon(21.25% 47.1%, 23.7% 47.3%, 20.76% 44.83% ),
polygon(22.09% 33.03%, 22.81% 30.18%, 20.58% 32.12% ),
polygon(22.81% 30.18%, 18.64% 28.88%, 20.58% 32.12% ),
polygon(28.03% 42.6%, 27.96% 44.88%, 35.34% 42.6% ),
polygon(27.49% 37.78%, 25.5% 44.78%, 28.03% 42.6% ),
polygon(29.18% 39.42%, 27.49% 37.78%, 28.03% 42.6% ),
polygon(31.8% 38.07%, 27.49% 37.78%, 29.18% 39.42% ),
polygon(34.45% 39.45%, 37.66% 42.97%, 36.11% 37.57% ),
polygon(35.34% 42.6%, 37.66% 42.97%, 34.45% 39.45% ),
polygon(37.49% 44.88%, 37.66% 42.97%, 35.34% 42.6% ),
polygon(27.96% 44.88%, 37.49% 44.88%, 35.34% 42.6% ),
polygon(25.5% 44.78%, 27.96% 44.88%, 28.03% 42.6% ),
polygon(34.8% 53.02%, 32.13% 51.07%, 31.66% 53.7% ),
polygon(32.13% 51.07%, 29.24% 49.63%, 31.66% 53.7% ),
polygon(31.66% 53.7%, 29.24% 49.63%, 27.44% 51.45% ),
polygon(36.46% 51.77%, 35.48% 49.52%, 34.8% 53.02% ),
polygon(35.48% 49.52%, 32.13% 51.07%, 34.8% 53.02% ),
polygon(27.44% 51.45%, 29.24% 49.63%, 25.5% 44.78% ),
polygon(31.69% 35.43%, 27.49% 37.78%, 31.8% 38.07% ),
polygon(36.11% 37.57%, 31.69% 35.43%, 31.8% 38.07% ),
polygon(34.45% 39.45%, 36.11% 37.57%, 31.8% 38.07% ),
polygon(29.24% 49.63%, 27.96% 44.88%, 25.5% 44.78% ),
polygon(42.66% 43.28%, 43.59% 39.6%, 42.66% 38.58% ),
polygon(43.59% 39.6%, 45.76% 38.07%, 42.66% 38.58% ),
polygon(42.66% 38.58%, 45.76% 38.07%, 46.48% 35.43% ),
polygon(47.31% 38.78%, 48.29% 35.73%, 46.48% 35.43% ),
polygon(42.66% 53.38%, 42.66% 43.28%, 40.31% 53.38% ),
polygon(40.31% 53.38%, 42.66% 43.28%, 42.66% 38.58% ),
polygon(42.66% 35.77%, 40.31% 35.77%, 42.66% 38.58% ),
polygon(40.31% 35.77%, 40.31% 53.38%, 42.66% 38.58% ),
polygon(45.76% 38.07%, 47.31% 38.78%, 46.48% 35.43% ),
polygon(53.06% 48.85%, 52.05% 47.93%, 52.14% 49.2% ),
polygon(52.05% 47.93%, 50.43% 48.95%, 52.14% 49.2% ),
polygon(52.43% 44.95%, 52.05% 47.93%, 53.06% 48.85% ),
polygon(54.28% 35.43%, 50.71% 37.28%, 52.45% 39.1% ),
polygon(49.76% 50.53%, 52.58% 53.37%, 51.56% 50% ),
polygon(52.14% 49.2%, 50.43% 48.95%, 51.56% 50% ),
polygon(52.45% 39.1%, 49.28% 41.88%, 51.67% 41.9% ),
polygon(49.28% 41.88%, 52.05% 47.93%, 52.43% 44.95% ),
polygon(50.71% 37.28%, 49.28% 41.88%, 52.45% 39.1% ),
polygon(51.67% 41.9%, 49.28% 41.88%, 52.43% 44.95% ),
polygon(50.43% 48.95%, 49.76% 50.53%, 51.56% 50% ),
polygon(57.94% 54.97%, 60.21% 54.85%, 59.13% 51.42% ),
polygon(56.09% 50.17%, 57.94% 54.97%, 59.13% 51.42% ),
polygon(55.61% 52.83%, 57.94% 54.97%, 56.09% 50.17% ),
polygon(51.56% 50%, 52.58% 53.37%, 52.77% 50.68% ),
polygon(58.59% 58.78%, 60.21% 54.85%, 57.94% 54.97% ),
polygon(52.58% 53.37%, 54.19% 53.1%, 52.77% 50.68% ),
polygon(52.77% 50.68%, 54.19% 53.1%, 54.43% 50.42% ),
polygon(54.43% 50.42%, 55.61% 52.83%, 56.09% 50.17% ),
polygon(54.19% 53.1%, 55.61% 52.83%, 54.43% 50.42% ),
polygon(56.39% 44.98%, 59.51% 42.05%, 57.09% 41.9% ),
polygon(60.02% 36.57%, 58.49% 34.63%, 58.61% 37.97% ),
polygon(49.46% 58.2%, 51.75% 59.67%, 50.74% 55.7% ),
polygon(50.74% 55.7%, 51.75% 59.67%, 54.51% 57.52% ),
polygon(52.43% 44.95%, 53.06% 48.85%, 54.44% 46.17% ),
polygon(58.49% 34.63%, 57.33% 36.52%, 58.61% 37.97% ),
polygon(57.01% 56.78%, 58.59% 58.78%, 57.94% 54.97% ),
polygon(53.06% 48.85%, 55% 48.58%, 54.44% 46.17% ),
polygon(54.44% 37.95%, 54.28% 35.43%, 52.45% 39.1% ),
polygon(54.45% 60.28%, 58.59% 58.78%, 57.01% 56.78% ),
polygon(54.51% 57.52%, 54.45% 60.28%, 57.01% 56.78% ),
polygon(51.75% 59.67%, 54.45% 60.28%, 54.51% 57.52% ),
polygon(58.61% 37.97%, 57.33% 36.52%, 56.33% 39.1% ),
polygon(56.33% 39.1%, 57.33% 36.52%, 54.44% 37.95% ),
polygon(57.33% 36.52%, 54.28% 35.43%, 54.44% 37.95% ),
polygon(54.44% 46.17%, 55% 48.58%, 56.39% 44.98% ),
polygon(57.09% 41.9%, 58.61% 37.97%, 56.33% 39.1% ),
polygon(55% 48.58%, 58.28% 46.52%, 56.39% 44.98% ),
polygon(58.28% 46.52%, 59.51% 42.05%, 56.39% 44.98% ),
polygon(59.51% 42.05%, 58.61% 37.97%, 57.09% 41.9% ),
polygon(64.03% 32.4%, 66.06% 32.4%, 64.01% 29.67% ),
polygon(65.04% 29.12%, 64.01% 29.67%, 66.06% 29.68% ),
polygon(66.06% 32.4%, 66.49% 31.03%, 66.06% 29.68% ),
polygon(63.6% 31.03%, 64.03% 32.4%, 64.01% 29.67% ),
polygon(64.01% 29.67%, 66.06% 32.4%, 66.06% 29.68% ),
polygon(65.04% 32.97%, 66.06% 32.4%, 64.03% 32.4% ),
polygon(66.1% 53.38%, 66.1% 35.77%, 63.75% 53.38% ),
polygon(63.75% 53.38%, 66.1% 35.77%, 63.75% 38.4% ),
polygon(63.75% 38.4%, 66.1% 35.77%, 61.94% 35.77% ),
polygon(61.94% 38.4%, 63.75% 38.4%, 61.94% 35.77% ),
polygon(72.86% 51.5%, 73.25% 54.35%, 74.58% 49.38% ),
polygon(71.88% 48.02%, 72.86% 51.5%, 74.58% 49.38% ),
polygon(70.7% 35.77%, 71.88% 48.02%, 74.58% 49.38% ),
polygon(73.25% 54.35%, 74.86% 56.37%, 74.58% 49.38% ),
polygon(78.08% 35.77%, 74.58% 49.38%, 80.46% 35.77% ),
polygon(74.58% 49.38%, 74.86% 56.37%, 80.46% 35.77% ),
polygon(68.3% 35.77%, 71.88% 48.02%, 70.7% 35.77% ),
polygon(69.69% 60.28%, 72.95% 59.17%, 72.2% 56.57% ),
polygon(69.69% 57.48%, 69.69% 60.28%, 72.2% 56.57% ),
polygon(72.2% 56.57%, 74.86% 56.37%, 73.25% 54.35% ),
polygon(72.95% 59.17%, 74.86% 56.37%, 72.2% 56.57% );

$oml: polygon(9.99% 46.12%, 11.41% 39.93%, 8.64% 44.68% ),
polygon(5.9% 46.38%, 9.99% 46.12%, 8.64% 44.68% ),
polygon(5.9% 48.35%, 9.99% 46.12%, 5.9% 46.38% ),
polygon(9.57% 39.93%, 5.9% 31.78%, 5.9% 33.75% ),
polygon(10% 33.93%, 5.9% 31.78%, 9.57% 39.93% ),
polygon(9.57% 39.93%, 11.41% 39.93%, 10% 33.93% ),
polygon(8.64% 44.68%, 11.41% 39.93%, 9.57% 39.93% ),
polygon(3.44% 44.53%, 5.9% 48.35%, 5.9% 46.38% ),
polygon(2.13% 34.12%, 0.74% 39.93%, 2.58% 39.93% ),
polygon(5.9% 31.78%, 2.13% 34.12%, 3.42% 35.4% ),
polygon(5.9% 33.75%, 5.9% 31.78%, 3.42% 35.4% ),
polygon(3.42% 35.4%, 2.13% 34.12%, 2.58% 39.93% ),
polygon(2.1% 45.98%, 5.9% 48.35%, 3.44% 44.53% ),
polygon(2.58% 39.93%, 2.1% 45.98%, 3.44% 44.53% ),
polygon(0.74% 39.93%, 2.1% 45.98%, 2.58% 39.93% ),
polygon(20.16% 37.72%, 21.11% 38.37%, 21.21% 36.6% ),
polygon(20.4% 39.42%, 21.11% 38.37%, 20.16% 37.72% ),
polygon(21.11% 38.37%, 22.24% 37.9%, 21.21% 36.6% ),
polygon(18.73% 39.75%, 20.4% 39.42%, 20.16% 37.72% ),
polygon(18.21% 38.4%, 18.73% 39.75%, 20.16% 37.72% ),
polygon(24.16% 40.67%, 25.83% 40.25%, 25.02% 37.23% ),
polygon(17.35% 36.15%, 18.21% 38.4%, 20.16% 37.72% ),
polygon(22.78% 36.15%, 24.16% 40.67%, 25.02% 37.23% ),
polygon(21.21% 36.6%, 22.24% 37.9%, 22.78% 36.15% ),
polygon(22.24% 37.9%, 24.16% 40.67%, 22.78% 36.15% ),
polygon(16.82% 37.9%, 18.21% 38.4%, 17.35% 36.15% ),
polygon(20.4% 48.08%, 20.4% 39.42%, 18.73% 39.75% ),
polygon(14.96% 48.08%, 14.96% 39.43%, 13.3% 48.08% ),
polygon(13.3% 36.37%, 13.3% 48.08%, 14.39% 36.37% ),
polygon(25.83% 48.08%, 25.83% 40.25%, 24.16% 48.08% ),
polygon(18.73% 48.08%, 20.4% 48.08%, 18.73% 39.75% ),
polygon(24.16% 48.08%, 25.83% 40.25%, 24.16% 40.67% ),
polygon(14.39% 36.37%, 13.3% 48.08%, 14.94% 37.72% ),
polygon(14.94% 37.72%, 15.76% 38.38%, 17.35% 36.15% ),
polygon(15.76% 38.38%, 16.82% 37.9%, 17.35% 36.15% ),
polygon(13.3% 48.08%, 14.96% 39.43%, 14.94% 37.72% ),
polygon(14.96% 39.43%, 15.76% 38.38%, 14.94% 37.72% ),
polygon(30.19% 38.8%, 28.99% 37.72%, 29.38% 40.92% ),
polygon(31.98% 36.15%, 28.99% 37.72%, 30.19% 38.8% ),
polygon(32.05% 37.9%, 31.98% 36.15%, 30.19% 38.8% ),
polygon(28.99% 37.72%, 27.58% 42.37%, 29.38% 40.92% ),
polygon(34.56% 40.92%, 36.23% 41.15%, 33.94% 38.82% ),
polygon(36.09% 42.43%, 36.23% 41.15%, 34.56% 40.92% ),
polygon(29.33% 42.43%, 36.09% 42.43%, 34.56% 40.92% ),
polygon(27.58% 42.37%, 29.33% 42.43%, 29.38% 40.92% ),
polygon(29.38% 40.92%, 29.33% 42.43%, 34.56% 40.92% ),
polygon(33.94% 38.82%, 36.23% 41.15%, 35.11% 37.57% ),
polygon(34.66% 45.52%, 32.28% 46.55%, 34.18% 47.83% ),
polygon(32.28% 46.55%, 30.23% 45.58%, 31.95% 48.3% ),
polygon(34.18% 47.83%, 32.28% 46.55%, 31.95% 48.3% ),
polygon(35.11% 37.57%, 31.98% 36.15%, 32.05% 37.9% ),
polygon(35.36% 47%, 34.66% 45.52%, 34.18% 47.83% ),
polygon(28.95% 46.8%, 29.33% 42.43%, 27.58% 42.37% ),
polygon(33.94% 38.82%, 35.11% 37.57%, 32.05% 37.9% ),
polygon(31.95% 48.3%, 30.23% 45.58%, 28.95% 46.8% ),
polygon(30.23% 45.58%, 29.33% 42.43%, 28.95% 46.8% ),
polygon(41.34% 48.3%, 41.34% 46.43%, 40.2% 45.9% ),
polygon(38.1% 44.77%, 41.34% 48.3%, 40.2% 45.9% ),
polygon(39.76% 44.42%, 38.1% 44.77%, 40.2% 45.9% ),
polygon(39.76% 31.57%, 38.1% 31.57%, 39.76% 44.42% ),
polygon(38.1% 31.57%, 38.1% 44.62%, 39.76% 44.42% ),
polygon(38.1% 44.62%, 38.1% 44.77%, 39.76% 44.42% ),
polygon(44.4% 42.33%, 43.9% 46.68%, 45.21% 45.47% ),
polygon(47.35% 37.9%, 43.95% 37.85%, 45.2% 39.08% ),
polygon(45.2% 39.08%, 42.65% 42.33%, 44.4% 42.33% ),
polygon(42.65% 42.33%, 43.9% 46.68%, 44.4% 42.33% ),
polygon(49.51% 38.78%, 49.09% 36.53%, 48.61% 38.18% ),
polygon(49.09% 36.53%, 47.51% 36.15%, 48.61% 38.18% ),
polygon(50.34% 37.32%, 49.09% 36.53%, 49.51% 38.78% ),
polygon(48.61% 38.18%, 47.51% 36.15%, 47.35% 37.9% ),
polygon(47.51% 36.15%, 43.95% 37.85%, 47.35% 37.9% ),
polygon(43.95% 37.85%, 42.65% 42.33%, 45.2% 39.08% ),
polygon(43.9% 46.68%, 47.08% 48.3%, 45.21% 45.47% ),
polygon(47.48% 46.55%, 50.39% 47.22%, 49.74% 45.47% ),
polygon(47.08% 48.3%, 50.39% 47.22%, 47.48% 46.55% ),
polygon(45.21% 45.47%, 47.08% 48.3%, 47.48% 46.55% ),
polygon(53.81% 37.65%, 54.74% 38.33%, 54.88% 36.58% ),
polygon(54.74% 38.33%, 55.95% 37.9%, 54.88% 36.58% ),
polygon(55.95% 37.9%, 57.4% 38.65%, 56.41% 36.15% ),
polygon(54.88% 36.58%, 55.95% 37.9%, 56.41% 36.15% ),
polygon(57.92% 40.72%, 59.59% 40.72%, 58.74% 37.37% ),
polygon(56.41% 36.15%, 57.4% 38.65%, 58.74% 37.37% ),
polygon(57.4% 38.65%, 57.92% 40.72%, 58.74% 37.37% ),
polygon(52.14% 31.57%, 52.14% 48.08%, 53.81% 37.65% ),
polygon(53.81% 48.08%, 53.81% 39.37%, 52.14% 48.08% ),
polygon(53.81% 31.57%, 52.14% 31.57%, 53.81% 37.65% ),
polygon(57.92% 48.08%, 59.59% 40.72%, 57.92% 40.72% ),
polygon(53.81% 39.37%, 54.74% 38.33%, 53.81% 37.65% ),
polygon(52.14% 48.08%, 53.81% 39.37%, 53.81% 37.65% ),
polygon(59.59% 48.08%, 59.59% 40.72%, 57.92% 48.08% ),
polygon(61.33% 42.37%, 63.09% 42.43%, 63.13% 40.92% ),
polygon(62.74% 37.72%, 61.33% 42.37%, 63.13% 40.92% ),
polygon(63.94% 38.8%, 62.74% 37.72%, 63.13% 40.92% ),
polygon(63.13% 40.92%, 63.09% 42.43%, 68.33% 40.92% ),
polygon(68.33% 40.92%, 69.98% 41.15%, 67.69% 38.82% ),
polygon(67.69% 38.82%, 69.98% 41.15%, 68.88% 37.57% ),
polygon(65.72% 36.15%, 62.74% 37.72%, 63.94% 38.8% ),
polygon(63.09% 42.43%, 69.84% 42.43%, 68.33% 40.92% ),
polygon(69.84% 42.43%, 69.98% 41.15%, 68.33% 40.92% ),
polygon(62.7% 46.8%, 63.99% 45.58%, 61.33% 42.37% ),
polygon(67.94% 47.83%, 66.04% 46.55%, 65.71% 48.3% ),
polygon(68.41% 45.52%, 66.04% 46.55%, 67.94% 47.83% ),
polygon(66.04% 46.55%, 63.99% 45.58%, 65.71% 48.3% ),
polygon(69.11% 47%, 68.41% 45.52%, 67.94% 47.83% ),
polygon(65.8% 37.9%, 65.72% 36.15%, 63.94% 38.8% ),
polygon(68.88% 37.57%, 65.72% 36.15%, 65.8% 37.9% ),
polygon(65.71% 48.3%, 63.99% 45.58%, 62.7% 46.8% ),
polygon(67.69% 38.82%, 68.88% 37.57%, 65.8% 37.9% ),
polygon(63.99% 45.58%, 63.09% 42.43%, 61.33% 42.37% ),
polygon(71.72% 48.08%, 73.39% 39.37%, 73.39% 37.88% ),
polygon(74.35% 38.32%, 75.54% 37.9%, 73.39% 37.88% ),
polygon(73.39% 37.88%, 75.54% 37.9%, 76.08% 36.15% ),
polygon(77.05% 38.65%, 79.16% 40.83%, 76.08% 36.15% ),
polygon(75.54% 37.9%, 77.05% 38.65%, 76.08% 36.15% ),
polygon(73.39% 39.37%, 74.35% 38.32%, 73.39% 37.88% ),
polygon(79.16% 48.08%, 79.16% 40.83%, 77.5% 41.27% ),
polygon(72.86% 36.37%, 71.72% 48.08%, 73.39% 37.88% ),
polygon(77.5% 48.08%, 79.16% 48.08%, 77.5% 41.27% ),
polygon(77.5% 41.27%, 79.16% 40.83%, 77.05% 38.65% ),
polygon(71.72% 36.37%, 71.72% 48.08%, 72.86% 36.37% ),
polygon(73.39% 48.08%, 73.39% 39.37%, 71.72% 48.08% ),
polygon(88.73% 36.37%, 86.78% 36.37%, 85.73% 40.82% ),
polygon(83.19% 41.82%, 84.65% 42.22%, 85.73% 40.82% ),
polygon(86.78% 36.37%, 83.19% 41.82%, 85.73% 40.82% ),
polygon(84.65% 42.22%, 87.59% 48.08%, 85.73% 40.82% ),
polygon(87.59% 48.08%, 89.39% 48.08%, 85.73% 40.82% ),
polygon(83.19% 44.08%, 84.65% 42.22%, 83.19% 41.82% ),
polygon(83.19% 48.08%, 83.19% 44.08%, 81.53% 48.08% ),
polygon(83.19% 31.57%, 81.53% 31.57%, 83.19% 41.82% ),
polygon(81.53% 48.08%, 83.19% 44.08%, 83.19% 41.82% ),
polygon(81.53% 31.57%, 81.53% 48.08%, 83.19% 41.82% ),
polygon(91.08% 46.65%, 94.21% 48.3%, 94.21% 46.6% ),
polygon(91.71% 42.2%, 91.08% 46.65%, 94.21% 46.6% ),
polygon(91.13% 37.82%, 89.96% 42.2%, 91.71% 42.2% ),
polygon(96.04% 45.42%, 97.31% 46.67%, 98.45% 42.2% ),
polygon(94.21% 46.6%, 94.21% 48.3%, 96.04% 45.42% ),
polygon(94.21% 48.3%, 97.31% 46.67%, 96.04% 45.42% ),
polygon(89.96% 42.2%, 91.08% 46.65%, 91.71% 42.2% ),
polygon(98.45% 42.2%, 97.34% 37.75%, 96.7% 42.2% ),
polygon(96.04% 45.42%, 98.45% 42.2%, 96.7% 42.2% ),
polygon(96.7% 42.2%, 97.34% 37.75%, 94.21% 37.85% ),
polygon(97.34% 37.75%, 94.21% 36.15%, 94.21% 37.85% ),
polygon(92.39% 39%, 91.13% 37.82%, 91.71% 42.2% ),
polygon(94.21% 36.15%, 91.13% 37.82%, 92.39% 39% ),
polygon(94.21% 37.85%, 94.21% 36.15%, 92.39% 39% );

@mixin render($obj) {
	@for $i from 1 through 250 {
		.p#{$i}{
			transition-delay: random(500) + ms !important;
			background: rgba(#08fdd8,random(10)/10);
			@if length($obj) >= $i{
				clip-path: nth($obj,$i);
			} @else{
				clip-path: $void;
			}
		}
	}
}

.figure1{@include render($oml);}
.figure2{@include render($sergiy);}

.canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	&>*{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}