---
title: Умения - Омельченко Сергей
---
{% extends "layouts/_layout.html" %}

{% block content %}
		
<!-- begin wrapper barba -->
<div id="barba-wrapper">
  <div class="barba-container">  
	<!-- begin page -->
	 <div id="page" class="middle-w">
	 	<div class="wrapper-40 wrapper-100">
		 	<h3 class="letter common">Умения</h3>
		 	<p class="word-split">
				Основное направление моей работы - это разработка сложных анимаций сайтов.
				Верстка лендингов, визиток и прочих типов сайтов под зарубежные стандарты.
				<br><br>
				Очень часто работаю "Full stack developer" - разрабатываю темы под CMS WordPress.
				Создаю как посадочные страницы так и интернет-магазины, каталоги.
				<br> 
				Также имею небольшой опыт работы с OpenCart.Правками шаблонов и кастомизации тем.
				<br><br>
				Свои проекты собираю на Node.js, используя таск-менеджер Gulp или Webpack.
				<br><br>
				Использую Github, а именно gist для заготовок снипетов. Иногда делаю деплой проекта на Github, для контроля версии.
		 	</p>
		</div> 	
		<div class="wrapper-60 wrapper-100">
			<div id="tags-cloud">
				<canvas id="myCanvas" width="500" height="500"></canvas>
			</div>
			<div id="tags" style="display: none;">
			  <ul>
			  	<li><a href="">HTML5</a></li>
			  	<li><a href="">CSS3</a></li>
			  	<li><a href="">JS</a></li>
			  	<li><a href="">jQuery</a></li>
			  	<li><a href="">WordPress</a></li>
			  	<li><a href="">GSAP</a></li>
			  	<li><a href="">Barba.js</a></li>
			  	<li><a href="">PIXI.JS</a></li>
			  	<li><a href="">Fragment/Vertex shader</a></li>
			  	<li><a href="">ScrollMagic</a></li>
			  	<li><a href="">Pug/Nunjucks</a></li>
			  	<li><a href="">Node.js</a></li>
			  	<li><a href="">SASS/SCSS</a></li>
			  	<li><a href="">npm/Yarn</a></li>
			  	<li><a href="">Git</a></li>
			  	<li><a href="">Gulp</a></li>
				<li><a href="">Webpack</a></li>
				<li><a href="">metabox</a></li>
				<li><a href="">post_type()</a></li>
				<li><a href="">query_posts()</a></li>
			  </ul>
    		</div>
		</div> 			
	 </div>
	 <!-- end page --> 
	 {% include 'layouts/_pageloader.html' %}
  </div>
</div>
<!-- end wrapper barba -->

{% endblock %}
