---
title: Мои работы - Омельченко Сергей
---
{% extends "layouts/_layout.html" %}

{% block content %}
		
<!-- begin wrapper barba -->
<div id="barba-wrapper">
  <div class="barba-container">  
	<!-- begin page -->
	 <div id="page" class="dissable-flex porfolio middle-w mobbile-hauto">
	 	<h3 class="letter common" style="top: 15%">Мои работы</h3>
	 	<!-- begin swiper slider -->
		  <div class="swiper-container">
		    <div class="swiper-wrapper">
		    	<div class="swiper-slide"><a href="/portfolio/3" class="link-work" target="_blank"><h4 class="title-work">Monys</h4><img src="img/work01.png" alt=""><p class="description-work">Awwards site</p></a></div>
		    	<div class="swiper-slide"><a href="/portfolio/4" class="link-work" target="_blank"><h4 class="title-work">Gallery on PIXI.JS</h4><img src="img/work001.png" alt=""><p class="description-work">Awwards site/only descktop</p></a></div>
		    	<div class="swiper-slide"><a href="/portfolio/2" class="link-work" target="_blank"><h4 class="title-work">Samsung Watch</h4><img src="img/work1.png" alt=""><p class="description-work">Awwards site</p></a></div>
		    	<div class="swiper-slide"><a href="/portfolio/1" class="link-work" target="_blank"><h4 class="title-work">Khenpo Sodargye</h4><img src="img/work2.png" alt=""><p class="description-work">Awwards site</p></a></div>
		    	<div class="swiper-slide"><a href="http://laa-pasta.zzz.com.ua/" class="link-work" target="_blank"><h4 class="title-work">Lambda</h4><img src="img/work3.png" alt=""><p class="description-work">Design from themeforest</p></a></div>
		    	<div class="swiper-slide"><a href="http://wooder.zzz.com.ua/" class="link-work" target="_blank"><h4 class="title-work">Wooder</h4><img src="img/work4.png" alt=""><p class="description-work">Design from themeforest</p></a></div>
		    	<div class="swiper-slide"><a href="http://mirainet.pro/" class="link-work" target="_blank"><h4 class="title-work">MiraiNet</h4><img src="img/work5.png" alt=""><p class="description-work">Personal site</p></a></div>
		    	<div class="swiper-slide"><a href="/portfolio/5" class="link-work" target="_blank"><h4 class="title-work">Personal</h4><img src="img/work6.png" alt=""><p class="description-work">Design from themeforest</p></a></div>
		    	<div class="swiper-slide"><a href="http://coffeeart.zzz.com.ua/" class="link-work" target="_blank"><h4 class="title-work">Coffee-art</h4><img src="img/work8.png" alt=""><p class="description-work">Design from themeforest</p></a></div>
		    	<div class="swiper-slide"><a href="http://talos.zzz.com.ua/" class="link-work" target="_blank"><h4 class="title-work">Talos</h4><img src="img/work10.png" alt=""><p class="description-work">Design from themeforest</p></a></div>
		    </div>
		    <!-- Add controls -->
		    	<div class="slide-controls1 swiper-button-prev"></div>
		    	<div class="slide-controls2 swiper-button-next"></div>
		  </div>					
		  <!-- end swiper slider -->
	 </div>
	 <!-- end page --> 
	 {% include 'layouts/_pageloader.html' %}
  </div>
</div>
<!-- end wrapper barba -->

{% endblock %}
